{% extends 'staff/base.html' %}
{% block content %}
{% load static %}

<br><br>
<div class="div container fw-bold mb-5 mt-5 bg-light w-50" style="border-radius: 5px;">
    <form method="post">
        {% csrf_token %}
        <div class="text-center mt-5">
        <h1>Staff Login</h1>
    </div>  
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
    </p>
        {% endfor %}
    </div>  
{% endif %} 
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" placeholder="Enter Username" id="username" name="username" required>
    </div>
        <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" placeholder="Password" id="password" name="password" required>
    </div>
        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Log In</button>
    </form>
</div>

{% endblock %}