{% extends 'User/base.html' %}
{% block content %}
{% load static %}

<br><br>
<div class="div container fw-bold mt-5 mb-5 w-50 bg-light" style="border-radius: 5px;">
    <form action="{% url 'booking' %}" method="post">
        {% csrf_token %} 
        <div class="text-center mt-5">
            <h2>Booking Form</h2>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Booking Date</label>
            <input class="form-control" type="date" placeholder="Date" name="Date" required>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Seats</label>
            <input class="form-control" type="number" placeholder="number" name="number" min="1" required>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Booking Time</label>
            <select class="form-control" name="Time" required>
                <option value="">--Please choose a Time--</option>
                <option value="11-30 am">11-30 am</option>
                <option value="2-30 pm">2-30 pm</option>
                <option value="5-00 pm">5-00 pm</option>
                <option value="9-00 pm">9-00 pm</option>
            </select>
        </div>
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <a href="{% url 'payment' %}"><button class="btn btn-primary btn-block mb-4 w-20">Book Now</button></a>
    </form>
</div>

      

{% endblock %}